@import './variables.scss';

.home {
  .home-container {
    .main-sec {
      .sec-container {
        .main-sec-welcome {
          .text-logo {
            .logo {
              p {
                color: $textColor;
                font-weight: 300;
              }
            }
          }

          .about-text {
            color: $textColor;
            font-size: 23px;
            font-weight: 300;
          }

          .input-email {
            color: $textColor;
            font-size: 23px;
            font-weight: 300;

            .input {
              border-radius: 54px;
              border: 2px solid $mainBlue;
              width: 350px;
              font-size: 20px;
              transition: .3s;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: space-between;

              &.loading {
                width: 77px;
              }

              button {
                padding: 5px 15px;
                margin-left: -35px;
              }

              input {
                height: 100%;
                width: calc(100% - 80px);
                font-size: 20px;
                outline: none;
                padding-left: 10px;

              }
            }
          }
        }

        .main-sec-tweets {
          border: 1px solid $textColor;
          border-radius: 12px;

          .buttons {
            button {
              border: 1px solid $textColor;
              font-weight: 300;
              width: 160px;
              color: $textColor;
              background-color: white;

              &.active {
                border: none;
                background-color: $mainRed;
                color: white;
              }
            }
          }

          .tweets-div {
            max-height: 500px;
            margin-top: 15px;
            overflow: scroll;
            width: 100%;

            &.hidden {
              display: none;
            }
          }
        }
      }
    }

    .PastEvents-sec {
      .sec-container {
        .content {
          .swiper {
            overflow-y: unset;

            .swiper-pagination {
              bottom: unset;
            }

            .swiper-slide-shadow-left,
            .swiper-slide-shadow-right {
              display: none;
            }

            img {
              max-width: 700px;
              max-height: 300px;
              margin: auto;
            }
          }
        }
      }
    }

    .mainTopics-sec {
      .sec-container {
        .content {
          .topics {
            .topic {
              .text {
                font-size: 25px;
                color: $textColor;
              }
            }
          }

          button {
            width: 200px;
          }
        }
      }
    }

    .upcomingSessions-sec {
      .sec-container {
        .content {
          .sessions {
            .session {
              max-height: 300px;
              margin-bottom: 100px;
              position: relative;

              &::after {
                content: '';
                background-color: $textColor;
                min-width: 250px;
                width: 50%;
                height: 1px;
                position: absolute;
                bottom: -53px;
                left: 50%;
                transform: translateX(-50%);
              }

              &:first-child {
                margin-top: 40px !important;
              }

              &:last-child {
                margin-bottom: unset;

                &::after {
                  display: none;
                }
              }

              img {
                max-width: calc(50% - 15px);
                max-height: 300px;
              }

              .text {
                .date {
                  font-size: 24px;
                  font-weight: 300;
                  letter-spacing: 1px;

                  .end {
                    color: #EA4335;
                  }
                }

                .title {
                  font-size: 30px;
                  color: $mainBlue;
                }
              }
            }
          }
        }
      }
    }

  }
}

.post-sec {
  .sec-container {
    .content {
      .posts {
        .post {
          .text {
            font-size: 25px;
            color: $textColor;
          }

          button {
            width: 200px;
            font-weight: 300;
          }
        }
      }
    }
  }
}