@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 35px;
  color: white;
  padding: 0px 15px;
  height: 40px;
  font-size: 20px;
  min-width: 75px;
}

.container {
  margin: auto;
}

header {
  .header-container {
    border-bottom: 1px solid $textColor;

    nav {
      ul {
        a {
          padding: 20px;
          font-weight: 500;
          color: $textColor;

          &.active {
            color: black;
          }
        }
      }
    }
  }
}