@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 35px;
  color: white;
  padding: 0px 15px;
  height: 40px;
  font-size: 20px;
  min-width: 75px;
  background-color: $mainBlue;

}

.container {
  margin: auto;
}

.min-logo {
  .logo-container {
    height: 36px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    .upper,
    .lower {
      width: 35px;
      height: 100%;
      position: relative;
      background-color: transparent;
      z-index: 2;
      animation: moveLeft 4s linear infinite;

      &::after,
      &::before {
        content: '';
        width: 100%;
        height: 10px;
        position: absolute;
        border-radius: 10px;
      }

    }

    .upper {
      margin-left: unset !important;

      &::after {
        transform: rotate(-32deg);
        background-color: $mainRed;
        top: 7px;
      }

      &::before {
        background-color: $mainBlue;
        transform: rotate(32deg);
        bottom: 6px;
        z-index: 2;
      }
    }

    .lower {
      &::after {
        transform: rotate(32deg);
        background-color: $mainGreen;
        top: 7px;
        z-index: 2;

      }

      &::before {
        background-color: $mainYellow;
        transform: rotate(-32deg);
        bottom: 6px;
      }
    }
  }

}


.sec {
  margin-top: 70px;

  .sec-container {
    h2 {
      font-size: 50px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1px;
      margin-bottom: 50px;
    }
  }
}

header {
  .header-container {
    border-bottom: 1px solid $textColor;

    nav {
      ul {
        a {
          padding: 20px;
          font-weight: 500;
          color: $textColor;

          &.active {
            color: black;
          }
        }
      }
    }
  }
}

footer {
  margin: 70px 0 50px;

  .footer-container {
    .icons {
      color: $textColor;
      transition: .3s;
      font-size: 35px;
      cursor: pointer;

      .min-logo {
        &:hover {

          .upper,
          .lower {
            &::after,
            &::before {
              opacity: 1;
            }
          }
        }

        .upper,
        .lower {
          &::after,
          &::before {
            transition: .3s;
            opacity: .7;
          }
        }
      }
    }
  }
}